@import 'colors.scss';

/*------------------------------------
Buttons
------------------------------------*/

.button {
    border: 1px solid transparent;
    font-weight: bold;
    font-family: iranyekan, sans-serif;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin-right: 2px;
    border-radius: 3px;
    border: 0;
}

.button-block {
    width: 100%;
    float: inherit;
    display: block;
}

.button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/*
* Button Sizes
*/

.button-sm {
    height: 36px;
    font-size: 12px;
    padding: 9px 18px;
}

.button-circle-sm {
    width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
}

.button-md {
    height: 45px;
    font-size: 14px;
    padding: 12px 30px;
}

.button-circle-md {
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
}

.button-lg {
    height: 55px;
    font-size: 18px;
    padding: 14px 33px;
}

.button-circle-lg {
    width: 55px;
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.button-xl {
    height: 62px;
    font-size: 20px;
    padding: 16px 42px;
}

.button-circle-xl {
    width: 62px;
    height: 62px;
    font-size: 20px;
    line-height: 62px;
}

/*
* Button Colors
*/

.button-dark {
    color: #eee;
    background-color: #000;
}

.button-dark:hover {
    color: #fff;
    background-color: #111;
}

.button-light {
    color: $primary;
    background-color: #fff;
}

.button-light:hover {
    color: #000;
    background-color: #eee;
}

.button-base-0 {
    color: $base_1;
    background-color: $base_0;
}

.button-base-0:hover {
    color: $base_1;
    background-color: $base_0;
}

.button-primary {
    color: $base_0;
    background-color: $primary;
}

.button-primary:hover {
    color: $base_0;
    background-color: $primary_1;
}

.button-secondary {
    color: $base_0;
    background-color: $secondary;
}

.button-secondary:hover {
    color: $base_0;
    background-color: $secondary_1;
}

.button-gradient {
    color: $base_0;
}

.button-gradient:hover {
    color: $base_0;
    -webkit-box-shadow: 0 3px 12px $primary;
    box-shadow: 0 3px 12px $primary;
}


.button-line-light {
    color: $base_1;
    border: 1px solid $base_1;
}
.button-line-dark {
    color: $base_0;
    border: 1px solid $base_0;
}

.button-line-primary {
    color: $primary;
    border: 1px solid $primary;
}

.button-line-secondary {
    color: $secondary;
    border: 1px solid $secondary;
}
/*
* Button Styles
*/

.button-radius {
    border-radius: 24px;
}

.button-circle {
    border-radius: 50%;
}

.button-circle i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}