@import 'assets/css/fonts.scss';
@import 'assets/css/colors.scss';
@import 'assets/css/buttons.scss';
@import 'assets/css/dividers.scss';

// Basic
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}

// Typography
body {
    font-size: 16px;
    font-weight: 300;
    font-family: iranyekan, sans-serif;
}
a {
    cursor: pointer;
}
a,
a:hover {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    letter-spacing: -.75px;
    margin: inherit;
}

// Helpers
.text-center {
    text-align: center;
}  
.div-center {
    float: none !important;
    display: block !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

// Form
.form-div {
    margin-bottom: 15px;
}
.form-div input[type=email], .form-div input[type=password], .form-div input[type=text], .form-div select, .form-div textarea {
    width: 100%;
    height: 48px;
    color: #000;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    -webkit-transition: all .45s;
    transition: all .45s;
    font-family: iranyekan,sans-serif!important;
}

// Timeline
.timeline {
    padding-top: 9px;
    border-right: 3px solid #eee;
}

// Card
.card {
    display: block;
    position: relative;
    padding-right: 20px;
    margin-bottom: 45px;
}
.card .card-body {
    position: relative;
    padding: 30px;
    border-radius: 6px;
    background-color: $base_0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card .card-body p {
    font-size: 14px;
    margin: 0;
}
.card .card-body h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
.card .card-body .button {
    margin-top: 20px;
}
.card .card-date {
    color: $primary;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}
.card .card-date:before {
    top: 7px;
    right: -27px;
    width: 9px;
    height: 9px;
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $primary;
}

// Heading
.app-heading {
    text-align: center;
    margin-bottom: 75px;
}
.app-heading h1 {
    font-size: 30px;
    margin-bottom: 12px;
}
.app-heading h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

// Header
.app-header {
    height: 90px;
    display: block;
    position: relative;
}
.app-header .menu {
    display: inline-block;
}
.app-header .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-header .menu ul li {
    line-height: 90px;
    display: inline-block;
    margin-left: 45px;
}
.app-header .menu ul li a {
    display: block;
    font-size: 14px;
}
.app-header .menu ul li.active a {
    color: $primary;
}
.app-header .button {
    top: 24px;
    float: left;
    position: relative;
}

// Section
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}
// Section: Blog
.section-blog {
    height: 100vh;
}