@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthinfanum.eot");
  src: url("../fonts/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthinfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblightfanum.eot");
  src: url("../fonts/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblightfanum.woff") format("woff"), url("../fonts/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregularfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot");
  src: url("../fonts/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmediumfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot");
  src: url("../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextraboldfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebblackfanum.eot");
  src: url("../fonts/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblackfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot");
  src: url("../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablackfanum.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

/*------------------------------------
Buttons
------------------------------------*/
.button {
  border: 1px solid transparent;
  font-weight: bold;
  font-family: iranyekan, sans-serif;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin-right: 2px;
  border: 0;
}

.button-block {
  width: 100%;
  float: inherit;
  display: block;
}

.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/*
* Button Sizes
*/
.button-sm {
  height: 36px;
  font-size: 12px;
  padding: 9px 18px;
}

.button-circle-sm {
  width: 36px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
}

.button-md {
  height: 45px;
  font-size: 14px;
  padding: 12px 30px;
}

.button-circle-md {
  width: 45px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
}

.button-lg {
  height: 55px;
  font-size: 18px;
  padding: 14px 33px;
}

.button-circle-lg {
  width: 55px;
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}

.button-xl {
  height: 62px;
  font-size: 20px;
  padding: 16px 42px;
}

.button-circle-xl {
  width: 62px;
  height: 62px;
  font-size: 20px;
  line-height: 62px;
}

/*
* Button Colors
*/
.button-dark {
  color: #eee;
  background-color: #000;
}

.button-dark:hover {
  color: #fff;
  background-color: #111;
}

.button-light {
  color: #2775FF;
  background-color: #fff;
}

.button-light:hover {
  color: #000;
  background-color: #eee;
}

.button-base-0 {
  color: #000;
  background-color: #fff;
}

.button-base-0:hover {
  color: #000;
  background-color: #fff;
}

.button-primary {
  color: #fff;
  background-color: #2775FF;
}

.button-primary:hover {
  color: #fff;
  background-color: darkred;
}

.button-secondary {
  color: #fff;
  background-color: darkblue;
}

.button-secondary:hover {
  color: #fff;
  background-color: blue;
}

.button-gradient {
  color: #fff;
}

.button-gradient:hover {
  color: #fff;
  -webkit-box-shadow: 0 3px 12px #2775FF;
  box-shadow: 0 3px 12px #2775FF;
}

.button-line-light {
  color: #000;
  border: 1px solid #000;
}

.button-line-dark {
  color: #fff;
  border: 1px solid #fff;
}

.button-line-primary {
  color: #2775FF;
  border: 1px solid #2775FF;
}

.button-line-secondary {
  color: darkblue;
  border: 1px solid darkblue;
}

/*
* Button Styles
*/
.button-radius {
  border-radius: 24px;
}

.button-circle {
  border-radius: 50%;
}

.button-circle i {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*------------------------------------
Dividers
------------------------------------*/
.divider {
  height: 5px;
  display: block;
  position: relative;
  margin: 15px auto;
  background-color: #2775FF;
}

.divider-line {
  width: 45px;
  line-height: 1;
}

.divider-block {
  width: 100%;
  display: block;
}

.divider-dots,
.divider-dots:before,
.divider-dots:after {
  width: 7px;
  height: 7px;
  display: block;
  background: #2775FF;
  border-radius: 50%;
}

.divider-dots:before,
.divider-dots:after {
  content: "";
  position: absolute;
}

.divider-dots:before {
  left: -15px;
}

.divider-dots:after {
  right: -15px;
}

.divider-double {
  height: 7px;
  background: transparent !important;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #2775FF;
}

.text-left .divider {
  margin-left: 0;
}

.text-right .divider {
  margin-right: 0;
}

.text-left .divider-dots {
  left: 15px;
}

.text-right .divider-dots {
  right: 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: iranyekan, sans-serif;
}

a {
  cursor: pointer;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  letter-spacing: -.75px;
  margin: inherit;
}

.text-center {
  text-align: center;
}

.div-center {
  float: none !important;
  display: block !important;
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.form-div {
  margin-bottom: 15px;
}

.form-div input[type=email], .form-div input[type=password], .form-div input[type=text], .form-div select, .form-div textarea {
  width: 100%;
  height: 48px;
  color: #000;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  -webkit-transition: all .45s;
  transition: all .45s;
  font-family: iranyekan, sans-serif !important;
}

.alert {
  text-align: center;
  padding: 30px;
}

.alert.loading {
  color: orange;
}

alert.error {
  color: red;
}

.timeline {
  padding-top: 9px;
  border-right: 3px solid #eee;
}

.card {
  display: block;
  position: relative;
  padding-right: 20px;
  margin-bottom: 45px;
}

.card .card-body {
  position: relative;
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card .card-body p {
  font-size: 14px;
  margin: 0;
}

.card .card-body h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.card .card-body .button {
  margin-top: 20px;
}

.card .card-date {
  color: #2775FF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.card .card-date:before {
  top: 7px;
  right: -27px;
  width: 9px;
  height: 9px;
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #2775FF;
}

.app-heading {
  text-align: center;
  margin-bottom: 75px;
}

.app-heading h1 {
  font-size: 30px;
  margin-bottom: 12px;
}

.app-heading h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.app-header {
  height: 90px;
  display: block;
  position: relative;
}

.app-header .menu {
  display: inline-block;
}

.app-header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-header .menu ul li {
  line-height: 90px;
  display: inline-block;
  margin-left: 45px;
}

.app-header .menu ul li a {
  display: block;
  font-size: 14px;
}

.app-header .menu ul li.active a {
  color: #2775FF;
}

.app-header .button {
  top: 24px;
  float: left;
  position: relative;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-blog {
  height: 100vh;
}
/*# sourceMappingURL=app.css.map */