@import 'assets/css/fonts.scss';
@import 'assets/css/colors.scss';

// Basic
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}

// Typography
body {
    font-size: 16px;
    font-weight: 300;
    font-family: iranyekan, sans-serif;
}
a {
    cursor: pointer;
}
a,
a:hover {
    color: inherit;
    text-decoration: none;
}

// Header
.app-header {
    height: 90px;
    display: block;
    position: relative;
}
.app-header .menu {
    display: inline-block;
}
.app-header .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-header .menu ul li {
    line-height: 90px;
    display: inline-block;
    margin-left: 45px;
}
.app-header .menu ul li a {
    display: block;
    font-size: 14px;
}
.app-header .menu ul li.active a {
    color: $primary;
}
.app-header .button {
    float: left;
}